<div class="event">
  <div class="label">
    <img src="/images/avatar/small/elliot.jpg">
  </div>
  <div class="content">
    <div class="summary">
      <a class="user">
        <%= message.user.username %>: &nbsp;
      </a> <%= message.body %>
      <div class="date">
        <%= time_ago_in_words(message.created_at) %>
      </div>
    </div>
  </div>
</div>