<h2 class="ui center aligned icon header">
  <i class="red circular users icon"></i>
  Say Something
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
        <div class="ui fluid raised card chatbox">
            <div class="content">
                <div class="ui feed">
                  <%= render @messages %>
                </div><!-- end ui feed -->
              </div>
              <div class="extra content">
                <form class="ui reply form">
                    <div class="field">
                      <div class="ui submit icon input">
                          <input type="text" placeholder="Send">
                          <i class="red bordered inverted icon edit"></i> 
                    </div>
                    </div>
                    
                  </form>
              </div>
            </div>
        </div><!-- close column-->




<div class="four wide column">
  <div class="ui fluid raised card chatbox">
    <div class="content">
        <div class="ui inverted vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div> <!-- close 4 columns -->
    </div>
  </div>
</div> <!-- close 2 columns -->