
<a><%= link_to "Chat Room",root_path, class:"a item" %></a>
<a class="item">
  Messages
</a>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <!--<a class="item">Logout</a>-->
        <%= link_to 'Logout', logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Login",login_path,class:"a item" %>
      <% end %>
    </div>
  </div>
  <% if !logged_in?%>
    <div class="item">
        <div class="ui primary button">Sign Up</div>
    </div>
  <% end %>
</div>